* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
     margin: 5;
    padding: 0;
     color: black;
     background: lightgrey;
    text-align: center;
    font-weight: bold;
}

#nav {
    text-align: center;
    width: 20%;
    border: 1px solid black;
    margin: auto;
}

.mainContainer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}

.eventBox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}